server {
    listen 80;
    server_name ${MAIN_DOMAIN} www.${MAIN_DOMAIN};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        root /var/www/public;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    location ~* \.(css|js|jpg|jpeg|png|gif|ico|svg|woff|woff2|ttf|eot)$ {
        root /var/www/public;
        expires 30d;
        add_header Cache-Control "public, no-transform";
    }
}
