$header-height: 50px;

:root {
  --bg-gray: #e8e8e8;
  --primary-light: #eeeeee;
  --primary-color: #003f5b;
  --font-size-base-sm: 0.85714rem;
  --font-size-md-lg: 0.92857rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.14286rem;
  --font-size-xl: 1.42857rem;
  --font-size-2xl: 1.5rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-tight: 1;
  --line-height-xs: 0.85714rem;
  --line-height-sm: 1.14286rem;
  --line-height-base: 1.42857rem;
  --line-height-md: 1.71429rem;
  --line-height-lg: 2rem;
  --line-height-xl: 2.5714rem;
}
